@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-km-cream: #F9F9F7;
  --color-km-maroon: #2A2A2A;
  --color-km-black: #111111;
  --color-km-red-dark: #A62416;
  --color-km-red-bright: #E63617;
  --color-km-red-deep: #C20E1A;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Cormorant Garamond", ui-serif, Georgia, serif;
}
